.timkiem {
  width: 75%;
}
@media (min-width: 992px) {
  .timkiem {
    width: auto;
  }
}

.fame_tieude {
  margin-inline: 150px;
}
@media (max-width: 992px) {
  .fame_tieude {
    margin: 0px;
  }
}
.fame_ket {
  margin-inline: 150px;
}
@media (max-width: 992px) {
  .fame_ket {
    margin: 0px;
  }
}
.sub {
  margin-inline: 0px;
}

@media (min-width: 992px) {
  .sub {
    margin-inline: 350px;
  }
}

.sub_list {
  width: 11rem;
}

@media (min-width: 992px) {
  .sub_list {
    width: 20rem;
  }
}
